
data_dir = "{{ data_dir }}"

client_addr = "{{ client_addr }}"

ui_config{
  enabled = {{ ui_config_enable }}
}

server = {{ agent_server }}


bind_addr = "{{ bind_addr }}"

retry_join = ["provider={{ provider }} tag_key={{ tag_key }} tag_value={{ tag_value }} access_key_id={{ access_key_id }} secret_access_key={{ secret_access_key }}"]


encrypt = "{{ GOSSIP_KEY }}"

encrypt_verify_incoming = {{ encrypt_verify_incoming }}

encrypt_verify_outgoing = {{ encrypt_verify_outgoing }}

verify_incoming = {{ verify_incoming }}

verify_outgoing = {{ verify_outgoing }}

verify_server_hostname = {{ verify_server_hostname }}

ca_file = "{{ ca_file }}"

cert_file = "{{ cert_file }}"

key_file = "{{ key_file }}"
